.account-value-chart {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-value-chart svg {
  display: block;
}
